<!DOCTYPE html>
<html>
<head>
  <title>Random Quote Generator</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="javascripts/application.js"></script>

</head>

<body>
<div class="container" id="content">
  <div class="row text-center">
    <h1 class="text-primary">Great Quotes</h1>
    <div class="well col-xs-12 message">
      <p id="quote">Random Quote Generator</p>
      <p id="author">Created by Preston</p>
    </div>
  </div>
</div>

<div class="col-xs-12 row text-center">
  <button class="btn btn-primary getQuote">Get a quote</button>
</div>
</div>

<hr class="hr">
  </body>
</html>
